In [13]:
import pymongo

In [14]:
dbConn=pymongo.MongoClient("mongodb://localhost:27017")

In [15]:
dbname='mongoclass'
db=dbConn['Test']

In [16]:
print(dbConn.list_database_names())

['Practise', 'Test', 'admin', 'config', 'local']

In [17]:
collection_name='Test'
collection=db['collection_name']

In [18]:
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Test'), 'collection_name')

In [19]:
myrows={"Serial No":"9997","GRE Score":"337",
    "TOEFL Score":"118",
    "University Rating":"4"}

In [20]:
collection.insert_one(myrows)

In [21]:
mannyrows=[{"Serial No":"9997","GRE Score":"337",
    "TOEFL Score":"118",
    "University Rating":"4"},
    {"Serial No":"9997","GRE Score":"337",
    "TOEFL Score":"118",
    "University Rating":"4"},
    {"Serial No":"9997","GRE Score":"337",
    "TOEFL Score":"118",
    "University Rating":"4"},
    {"Serial No":"9997","GRE Score":"337",
    "TOEFL Score":"118",
    "University Rating":"4"}]

In [22]:
for i in mannyrows:
    collection.insert_one(i)

In [23]:
row1={"Serial No":"9997","GRE Score":"337",
    "TOFL Score":"118",
    "University ":"4"}

In [24]:
collection.insert_one(row1)

In [25]:
db=dbConn['BigData']

In [26]:
print(dbConn.list_database_names())

['Practise', 'Test', 'admin', 'config', 'local']

In [27]:
a='Arpit'
b=db['Arpit']

In [28]:
b

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'BigData'), 'Arpit')

In [29]:
A={"Serial No":"9997","GRE Score":"337",
    "TOEFL Score":"118",
    "University Rating":"4"}

In [30]:
b.insert_one(A)

In [31]:
B=[{"Serial No":"9997","GRE Score":"337",
    "TOEFL Score":"118",
    "University Rating":"4"},
    {"Serial No":"9997","GRE Score":"337",
    "TOEFL Score":"118",
    "University Rating":"4"},
    {"Serial No":"9997","GRE Score":"337",
    "TOEFL Score":"118",
    "University Rating":"4"},
    {"Serial No":"9997","GRE Score":"337",
    "TOEFL Score":"118",
    "University Rating":"4"}]

In [32]:
for i in B:
    b.insert_one(i)

In [33]:
result=b.find({})
result[0]

{'_id': ObjectId('62a9a5ef60d4e5ab2e261274'),
 'Serial No': '9997',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4'}

In [34]:
result_some= b.find({})

In [35]:
b.find({})

In [36]:
for i in result_some:
    print(i)

{'_id': ObjectId('62a9a5ef60d4e5ab2e261274'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4'}
{'_id': ObjectId('62a9a5ef60d4e5ab2e261275'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4'}
{'_id': ObjectId('62a9a5ef60d4e5ab2e261276'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4'}
{'_id': ObjectId('62a9a5ef60d4e5ab2e261277'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4'}
{'_id': ObjectId('62a9a5ef60d4e5ab2e261278'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4'}