In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 42 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 65.3 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=919429a23a523e7388e3fc5cb0334a8aceb471086d8ba2c045ce9f209af6fdf5
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
df=SparkSession.builder.appName("Kamal").getOrCreate()

In [ ]:
df

In [ ]:
new = df.read.csv('/content/spark_data.csv',header=True,inferSchema=True)

In [ ]:
new.printSchema()

root
 |-- row_id: integer (nullable = true)
 |-- order_id: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- shipping_date: string (nullable = true)
 |-- country: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- category: string (nullable = true)
 |-- subcategory: string (nullable = true)
 |-- sales: double (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- profit: double (nullable = true)

In [ ]:
new.select(["row_id","order_id"]).show()

+------+--------------+
|row_id|      order_id|
+------+--------------+
|     1|CA-2016-152156|
|     2|CA-2016-152156|
|     3|CA-2016-138688|
|     4|US-2015-108966|
|     5|US-2015-108966|
|     6|CA-2014-115812|
|     7|CA-2014-115812|
|     8|CA-2014-115812|
|     9|CA-2014-115812|
|    10|CA-2014-115812|
|    11|CA-2014-115812|
|    12|CA-2014-115812|
|    13|CA-2017-114412|
|    14|CA-2016-161389|
|    15|US-2015-118983|
|    16|US-2015-118983|
|    17|CA-2014-105893|
|    18|CA-2014-167164|
|    19|CA-2014-143336|
|    20|CA-2014-143336|
+------+--------------+
only showing top 20 rows

In [ ]:
new.dtypes

[('row_id', 'int'),
 ('order_id', 'string'),
 ('order_date', 'string'),
 ('shipping_date', 'string'),
 ('country', 'string'),
 ('city', 'string'),
 ('state', 'string'),
 ('category', 'string'),
 ('subcategory', 'string'),
 ('sales', 'double'),
 ('quantity', 'int'),
 ('profit', 'double')]

In [ ]:
for i in new.dtypes:
  for j in i:
    if j =="int":
      print(i)

('row_id', 'int')
('quantity', 'int')

In [ ]:
new.show()

+------+--------------+----------+-------------+-------------+---------------+--------------+---------------+-----------+--------+--------+--------+
|row_id|      order_id|order_date|shipping_date|      country|           city|         state|       category|subcategory|   sales|quantity|  profit|
+------+--------------+----------+-------------+-------------+---------------+--------------+---------------+-----------+--------+--------+--------+
|     1|CA-2016-152156|08-11-2016|   11-11-2016|United States|      Henderson|      Kentucky|      Furniture|  Bookcases|  261.96|       2| 41.9136|
|     2|CA-2016-152156|08-11-2016|   11-11-2016|United States|      Henderson|      Kentucky|      Furniture|     Chairs|  731.94|       3| 219.582|
|     3|CA-2016-138688|12-06-2016|   16-06-2016|United States|    Los Angeles|    California|Office Supplies|     Labels|   14.62|       2|  6.8714|
|     4|US-2015-108966|11-10-2015|   18-10-2015|United States|Fort Lauderdale|       Florida|      Furniture|     Tables|957.5775|       5|-383.031|
|     5|US-2015-108966|11-10-2015|   18-10-2015|United States|Fort Lauderdale|       Florida|Office Supplies|    Storage|  22.368|       2|  2.5164|
|     6|CA-2014-115812|09-06-2014|   14-06-2014|United States|    Los Angeles|    California|      Furniture|Furnishings|   48.86|       7| 14.1694|
|     7|CA-2014-115812|09-06-2014|   14-06-2014|United States|    Los Angeles|    California|Office Supplies|        Art|    7.28|       4|  1.9656|
|     8|CA-2014-115812|09-06-2014|   14-06-2014|United States|    Los Angeles|    California|     Technology|     Phones| 907.152|       6| 90.7152|
|     9|CA-2014-115812|09-06-2014|   14-06-2014|United States|    Los Angeles|    California|Office Supplies|    Binders|  18.504|       3|  5.7825|
|    10|CA-2014-115812|09-06-2014|   14-06-2014|United States|    Los Angeles|    California|Office Supplies| Appliances|   114.9|       5|   34.47|
|    11|CA-2014-115812|09-06-2014|   14-06-2014|United States|    Los Angeles|    California|      Furniture|     Tables|1706.184|       9| 85.3092|
|    12|CA-2014-115812|09-06-2014|   14-06-2014|United States|    Los Angeles|    California|     Technology|     Phones| 911.424|       4| 68.3568|
|    13|CA-2017-114412|15-04-2017|   20-04-2017|United States|        Concord|North Carolina|Office Supplies|      Paper|  15.552|       3|  5.4432|
|    14|CA-2016-161389|05-12-2016|   10-12-2016|United States|        Seattle|    Washington|Office Supplies|    Binders| 407.976|       3|132.5922|
|    15|US-2015-118983|22-11-2015|   26-11-2015|United States|     Fort Worth|         Texas|Office Supplies| Appliances|   68.81|       5|-123.858|
|    16|US-2015-118983|22-11-2015|   26-11-2015|United States|     Fort Worth|         Texas|Office Supplies|    Binders|   2.544|       3|  -3.816|
|    17|CA-2014-105893|11-11-2014|   18-11-2014|United States|        Madison|     Wisconsin|Office Supplies|    Storage|  665.88|       6| 13.3176|
|    18|CA-2014-167164|13-05-2014|   15-05-2014|United States|    West Jordan|          Utah|Office Supplies|    Storage|    55.5|       2|    9.99|
|    19|CA-2014-143336|27-08-2014|   01-09-2014|United States|  San Francisco|    California|Office Supplies|        Art|    8.56|       2|  2.4824|
|    20|CA-2014-143336|27-08-2014|   01-09-2014|United States|  San Francisco|    California|     Technology|     Phones|  213.48|       3|  16.011|
+------+--------------+----------+-------------+-------------+---------------+--------------+---------------+-----------+--------+--------+--------+
only showing top 20 rows

In [ ]:
new12=new.withColumn("revenue",new["sales"]+new["profit"])

In [ ]:
new12.select(["revenue"]).show(20)

+-------------------+
|            revenue|
+-------------------+
|           303.8736|
|            951.522|
|            21.4914|
|  574.5464999999999|
|            24.8844|
| 63.029399999999995|
|             9.2456|
|           997.8672|
|            24.2865|
|             149.37|
|          1791.4932|
|           979.7808|
|            20.9952|
|  540.5681999999999|
|            -55.048|
|-1.2719999999999998|
|           679.1976|
|              65.49|
|            11.0424|
| 229.49099999999999|
+-------------------+
only showing top 20 rows

In [ ]:
new12=new12.drop("sales","profit")

In [ ]:
new12.columns

['row_id',
 'order_id',
 'order_date',
 'shipping_date',
 'country',
 'city',
 'state',
 'category',
 'subcategory',
 'quantity',
 'revenue']

In [ ]:
new.agg({'quantity': 'sum'}).show()

+-------------+
|sum(quantity)|
+-------------+
|        37873|
+-------------+

In [ ]:
new.agg({'profit': 'mean'}).show()

+------------------+
|       avg(profit)|
+------------------+
|28.656896307784802|
+------------------+

In [ ]:
from pyspark.sql.functions import col, count, isnan, when

In [ ]:
count(when(col("order_id").isNull(),"order_id"))

Column<'count(CASE WHEN (order_id IS NULL) THEN order_id END)'>

In [ ]:
a=new.head(5)

In [ ]:
import pandas as pd

In [ ]:
pd.DataFrame(a)

,0,1,2,3,4,5,6,7,8,9,10,11
0,1,CA-2016-152156,08-11-2016,11-11-2016,United States,Henderson,Kentucky,Furniture,Bookcases,261.9600,2,41.9136
1,2,CA-2016-152156,08-11-2016,11-11-2016,United States,Henderson,Kentucky,Furniture,Chairs,731.9400,3,219.5820
2,3,CA-2016-138688,12-06-2016,16-06-2016,United States,Los Angeles,California,Office Supplies,Labels,14.6200,2,6.8714
3,4,US-2015-108966,11-10-2015,18-10-2015,United States,Fort Lauderdale,Florida,Furniture,Tables,957.5775,5,-383.0310
4,5,US-2015-108966,11-10-2015,18-10-2015,United States,Fort Lauderdale,Florida,Office Supplies,Storage,22.3680,2,2.5164

In [ ]:
from pyspark.ml.feature import Imputer

In [ ]:
new1=df.read.csv("/content/Admission_Prediction.csv",header=True,inferSchema=True)

In [ ]:
imputer=Imputer(
inputCols=["GRE Score", "TOEFL Score", "University Rating"],
outputCols=["GRE Score", "TOEFL Score", "University Rating"]).setStrategy("median")

In [ ]:
model=imputer.fit(new1)

In [ ]:
imputed_data=model.transform(new1)

In [ ]:
imputed_data.show()

+---------+-----------+-----------------+---+---+----+--------+---------------+
|GRE Score|TOEFL Score|University Rating|SOP|LOR|CGPA|Research|Chance of Admit|
+---------+-----------+-----------------+---+---+----+--------+---------------+
|    337.0|      118.0|                4|4.5|4.5|9.65|     1.0|           0.92|
|    324.0|      107.0|                4|4.0|4.5|8.87|     1.0|           0.76|
|    317.0|      104.0|                3|3.0|3.5| 8.0|     1.0|           0.72|
|    322.0|      110.0|                3|3.5|2.5|8.67|     1.0|            0.8|
|    314.0|      103.0|                2|2.0|3.0|8.21|     0.0|           0.65|
|    330.0|      115.0|                5|4.5|3.0|9.34|     1.0|            0.9|
|    321.0|      109.0|                3|3.0|4.0| 8.2|     1.0|           0.75|
|    308.0|      101.0|                2|3.0|4.0| 7.9|     0.0|           0.68|
|    302.0|      102.0|                1|2.0|1.5| 8.0|     0.0|            0.5|
|    323.0|      108.0|                3|3.5|3.0| 8.6|     0.0|           0.45|
|    325.0|      106.0|                3|3.5|4.0| 8.4|     1.0|           0.52|
|    327.0|      111.0|                4|4.0|4.5| 9.0|     1.0|           0.84|
|    317.0|      112.0|                4|4.0|4.5| 9.1|     1.0|           0.78|
|    307.0|      109.0|                3|4.0|3.0| 8.0|     1.0|           0.62|
|    311.0|      104.0|                3|3.5|2.0| 8.2|     1.0|           0.61|
|    314.0|      105.0|                3|3.5|2.5| 8.3|     0.0|           0.54|
|    317.0|      107.0|                3|4.0|3.0| 8.7|     0.0|           0.66|
|    319.0|      106.0|                3|4.0|3.0| 8.0|     1.0|           0.65|
|    318.0|      110.0|                3|4.0|3.0| 8.8|     0.0|           0.63|
|    303.0|      102.0|                3|3.5|3.0| 8.5|     0.0|           0.62|
+---------+-----------+-----------------+---+---+----+--------+---------------+
only showing top 20 rows

In [ ]:
new1.select(['CGPA','GRE Score','Chance of Admit']).filter((new1['CGPA']>8.5)&(new1['GRE Score']>320)).show()

+----+---------+---------------+
|CGPA|GRE Score|Chance of Admit|
+----+---------+---------------+
|9.65|    337.0|           0.92|
|8.87|    324.0|           0.76|
|8.67|    322.0|            0.8|
|9.34|    330.0|            0.9|
| 8.6|    323.0|           0.45|
| 9.0|    327.0|           0.84|
| 9.5|    328.0|           0.94|
| 9.8|    336.0|           0.97|
| 9.6|    340.0|           0.94|
| 8.8|    322.0|           0.76|
| 9.4|    338.0|           0.91|
| 9.6|    340.0|            0.9|
| 9.8|    331.0|           0.94|
| 9.1|    332.0|           0.87|
| 9.4|    326.0|           0.91|
| 9.1|    322.0|           0.88|
| 9.3|    329.0|           0.86|
| 9.7|    339.0|           0.89|
|8.85|    321.0|           0.82|
| 8.7|    325.0|           0.52|
+----+---------+---------------+
only showing top 20 rows

In [ ]:
new1.groupby("University Rating").sum('GRE Score','TOEFL Score').show()

+-----------------+--------------+----------------+
|University Rating|sum(GRE Score)|sum(TOEFL Score)|
+-----------------+--------------+----------------+
|             null|        4727.0|          1584.0|
|                1|        9733.0|          3199.0|
|                3|       47579.0|         16259.0|
|                5|       22625.0|          8171.0|
|                4|       32355.0|         10782.0|
|                2|       36512.0|         12527.0|
+-----------------+--------------+----------------+

In [ ]:
#######################