In [1]:
import pandas as pd

In [2]:
import os

In [3]:
os.listdir()

['.conda',
 '.condarc',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '.spyder-py3',
 '.VirtualBox',
 '.vscode',
 '3D Objects',
 'AppData',
 'Application Data',
 'breast cancer dataset.csv',
 'Breast cancer SVM.ipynb',
 'Contacts',
 'Cookies',
 'Documents',
 'Downloads',
 'Favorites',
 'Integrating MySQL with Python - PGD (3).ipynb',
 'IntelGraphicsProfiles',
 'Links',
 'Local Settings',
 'Microsoft',
 'Music',
 'My Documents',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{77524614-5799-11ec-b542-ed9c5c5f05e6}.TM.blf',
 'NTUSER.DAT{77524614-5799-11ec-b542-ed9c5c5f05e6}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{77524614-5799-11ec-b542-ed9c5c5f05e6}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'pdf reader.ipynb',
 'pdfreader1.ipynb',
 'PrintHood',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'sql connector.ipynb',
 'Sql Connector12.ipynb',
 'Start Menu',
 'Templates',
 'Untitled.ipynb',
 'untitled.txt',
 'Untitled1.ipynb',
 'Untitled10.ipynb',
 'Untitled11.ipynb',
 'Untitled12.ipynb',
 'Untitled13.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Untitled7.ipynb',
 'Untitled8.ipynb',
 'Untitled9.ipynb',
 'Videos',
 'VirtualBox VMs']

In [6]:
b=[]
for i in os.listdir():
    if ".ipynb" in i:
        b.append(i)

In [8]:
os.getcwd()

'C:\\Users\\Akash pratap singh'

In [10]:
%cd "C:\Users\Akash pratap singh\Downloads"

C:\Users\Akash pratap singh\Downloads

In [11]:
os.listdir()

['.RData',
 '.Rhistory',
 '08673502.pdf',
 '1 (1).pdf',
 '1-s2.0-S001048252100113X-main.pdf',
 '1.pdf',
 '10.1038_s41598-021-96031-1-citation.ris',
 '2.pdf',
 '20211104_202814.jpg',
 '20CricketTeamSelectionUsingArtificialIntelligence.doc',
 '2282-Article Text-6812-1-10-20201030.pdf',
 'af-998.zip',
 'air travel dataset.xlsx',
 'airline_sas_file.sas7bdat',
 'Akash Excel File.xlsx',
 'Akash Nave Byes',
 'akash template.png',
 'Anaconda3-2020.02-Windows-x86_64.exe',
 'AnyDesk.exe',
 'Apps_data.csv',
 'archive (1).zip',
 'archive (2).zip',
 'archive (3).zip',
 'archive (4).zip',
 'archive (5).zip',
 'archive (6).zip',
 'archive (7).zip',
 'archive (8).zip',
 'archive (9).zip',
 'archive.zip',
 'Assignment -MSc R programming.docx',
 'ASSIGNMENT NO 4 ( Defining Function) (1).ipynb',
 'ASSIGNMENT NO 4 ( Defining Function).ipynb',
 'Assingment1.R',
 'Assingment2 ggplot (1).R',
 'Assingment2 ggplot.R',
 'Assingment2 iris manipulation.R',
 'A_comparative_study_on_image-based_snake_identific.pdf',
 'bank-full_test.csv',
 'Big Data-Session 3 (1).pptx',
 'Big Data-Session 3.pptx',
 'bootstrapCI.R',
 'brainsci-09-00212-v3.pdf',
 'breast cancer dataset.csv',
 'breast cancer dataset.xls',
 'C6339029320.pdf',
 'cancers-11-01235.pdf',
 'cancers-12-00603-v2.pdf',
 'ChromeSetup.exe',
 'Churn_Modelling.csv',
 'citation-325116934.bib',
 'CNN description and Code.pptx',
 'Code (1).docx',
 'Code.docx',
 'csc532.zip',
 'Data Viz_ClassCode (1).R',
 'Data Viz_ClassCode.R',
 'data-science-methodologies.png',
 'datamining-intro-IEP.ppt',
 'Decision Tree.png',
 'deep-20220128T070215Z-001.zip',
 'desktop.ini',
 'diabetes (1).csv',
 'diabetes.csv',
 'disk-drill-win.exe',
 'employee_data.json',
 'EUvaccine.csv',
 'Excel test New.xlsx',
 'excel-comp-data.xlsx',
 'Feb2_900_LegaltechKeynote_AIChallengesOpportunitiesandEthicsWithintheFieldandHowItCanBenefitPeopleandSociety_DRAFT012717.pptx',
 'ggplot_visualization [2].R',
 'google_addr_file.json',
 'grass (1).csv',
 'grass.csv',
 'gungun tic.pdf',
 'hadoop-3.2.1.tar.gz',
 'IBM Watson Health Clinical Decision Support - IBM Micromedex With Watson - Putting the power of AI to work for you..pptx',
 'IJET-10892.pdf',
 'Image3_Supervised Learning Computer Vision Benchmark for Snake Species Identification From Photographs_ Implications for Herpetology and Global Health.TIF',
 'Integrating MySQL with Python (1).docx',
 'Integrating MySQL with Python (2).docx',
 'Integrating MySQL with Python.docx',
 'Intro Big Data Masters_Session 1.pptx',
 'Intro Big Data Masters_Session 2.pptx',
 'invite.ics',
 'Iris.csv',
 'jdk-8u321-windows-x64.exe',
 'kmeansinR.R',
 'Latex_template_IEEE format_Akash.zip',
 'Laxmi Kumari Singh_Biodata(by createmybiodata.com).pdf',
 'Linear Regression Assignment',
 'Linear Regression Classification.png',
 'linear regression-checkpoint.ipynb',
 'LinearRegression with R.R',
 'linux part -2 (1).pptx',
 'linux part -2.pptx',
 'LINUX PART-1.pptx',
 'literature review.docx',
 'Logistic Regression with R.R',
 'logisticinR (1).R',
 'logisticinR.R',
 'Logistics Regression Classification.png',
 'machine-learning-for-medical-imaging_papers.zip',
 'map tutorial (1).R',
 'map tutorial.R',
 'Medical image dataset.zip',
 'ML in cricket-converted.docx',
 'Module -1 - Data_Mining.pdf',
 'Module -1- ML-DL.pdf',
 'Module -2 - Data_Mining.pdf',
 'Module -2- ML-DL.pdf',
 'mongodb-windows-x86_64-5.0.9-signed.msi',
 'mysql-installer-community-8.0.28.0 (1).msi',
 'mysql-installer-community-8.0.28.0.msi',
 'mysql-installer-web-community-8.0.28.0 (1).msi',
 'mysql-installer-web-community-8.0.28.0 (2).msi',
 'mysql-installer-web-community-8.0.28.0.msi',
 'naivebayesfull.R',
 'Nave bayes.png',
 'nested_tweets04.json',
 'New folder',
 'notes on normal distribution and confidence interval (1).docx',
 'notes on normal distribution and confidence interval (2).docx',
 'notes on normal distribution and confidence interval.docx',
 'OPERATOR ASSIGNMENT (1).ipynb',
 'P1 Data.zip',
 'PersonGaitDataSet.mat',
 'ppt on svm kernel.pptx',
 'predictiveanalysisinR.R',
 'preprints202010.0436.v1.pdf',
 'putty-64bit-0.76-installer.msi',
 'Puzzles.pdf',
 'Python ML book.pdf',
 'python-3.10.2-amd64.exe',
 'R-4.1.2-win.exe',
 'R-4.1.3.tar.gz',
 'Random Forest.png',
 'RStudio-1.4.1717.exe',
 'RStudio-2022.02.1-461 (1).exe',
 'RStudio-2022.02.1-461.exe',
 'Rstudio.pptx',
 'rtools40-x86_64.exe',
 'Salary_Data.csv',
 'sampleSubmission.csv.zip',
 'shiny-cheatsheet.pdf',
 'Snake 1.zip',
 'Snake 3.zip',
 'snake2.zip',
 'Snake_classification_from_images.pdf',
 'Sql Connector12.ipynb',
 'SQL2019-SSEI-Dev (1).exe',
 'SQL2019-SSEI-Dev.exe',
 'SSMS-Setup-ENU (1).exe',
 'SSMS-Setup-ENU.exe',
 'SSRN-id3572740.pdf',
 'StellarDataRecovery-Free-Trial.exe',
 'Student template Landscape.png',
 'SVMinR.R',
 'TableauDesktop-64bit-2021-4-4.exe',
 'TableauPublicDesktop-64bit-2021-4-3.exe',
 'TeamsSetupx64_s_8D9D8CAD2737A78-7-0_c_w_.exe',
 'Tweets.csv.zip',
 'twitter_data.csv',
 'ubuntu-22.04-desktop-amd64.iso',
 'Unconfirmed 488093.crdownload',
 'Unconfirmed 642008.crdownload',
 'Unconfirmed 740742.crdownload',
 'Untitled document.docx',
 'Untitled-1.jpg',
 'VirtualBox-6.1.32-149290-Win.exe',
 'Visualize your data (1).R',
 'Visualize your data (2).R',
 'Visualize your data.R',
 'webex.exe',
 'winrar-x64-610.exe',
 'worksheetboot (1).R',
 'worksheetboot.R',
 'Yatra Parchi Services1.pdf',
 'zomato.csv']

In [12]:
a=[]
for i in os.listdir():
    if ".json" in i:
        a.append(i)

In [13]:
a

['employee_data.json', 'google_addr_file.json', 'nested_tweets04.json']

In [15]:
a[0]

'employee_data.json'

In [20]:
for i,j in zip(a,w):
    globals()[j]=pd.read_json(i)

In [19]:
w="qpm"

In [21]:
q

                                              features
0    {'candidate': {'first_name': 'Margaret', 'last...
1    {'candidate': {'first_name': 'Michael', 'last_...
2    {'candidate': {'first_name': 'Brenda', 'last_n...
3    {'candidate': {'first_name': 'Joseph', 'last_n...
4    {'candidate': {'first_name': 'Laura', 'last_na...
..                                                 ...
495  {'candidate': {'first_name': 'Robert', 'last_n...
496  {'candidate': {'first_name': 'Lucas', 'last_na...
497  {'candidate': {'first_name': 'Kimberly', 'last...
498  {'candidate': {'first_name': 'Karla', 'last_na...
499  {'candidate': {'first_name': 'Mrs.', 'last_nam...

[500 rows x 1 columns]

In [22]:
p

                                     timelineObjects
0  {'activitySegment': {'startLocation': {'latitu...
1  {'placeVisit': {'location': {'latitudeE7': 514...
2  {'activitySegment': {'startLocation': {'latitu...
3  {'placeVisit': {'location': {'latitudeE7': 396...
4  {'activitySegment': {'startLocation': {'latitu...
5  {'placeVisit': {'location': {'latitudeE7': 394...

In [23]:
m

                                                    0
0                {"retweeted": ["Nothing_retweeted"]}
1   {"retweeted": [{"created_at": "Mon Jul 13 01:2...
2                {"retweeted": ["Nothing_retweeted"]}
3                {"retweeted": ["Nothing_retweeted"]}
4   {"retweeted": [{"created_at": "Sat Jul 11 18:5...
5   {"retweeted": [{"created_at": "Sun Jul 12 22:5...
6   {"retweeted": [{"created_at": "Sun Jul 12 19:0...
7                {"retweeted": ["Nothing_retweeted"]}
8   {"retweeted": [{"created_at": "Fri Jul 10 22:1...
9   {"retweeted": [{"created_at": "Mon Sep 30 03:5...
10  {"retweeted": [{"created_at": "Sun Jul 12 15:4...
11  {"retweeted": [{"created_at": "Mon Jul 13 00:3...
12  {"retweeted": [{"created_at": "Mon Jul 13 00:5...
13  {"retweeted": [{"created_at": "Mon Jul 13 01:1...
14  {"retweeted": [{"created_at": "Mon Jul 13 01:1...
15               {"retweeted": ["Nothing_retweeted"]}
16               {"retweeted": ["Nothing_retweeted"]}
17  {"retweeted": [{"created_at": "Sun Jul 12 23:3...
18  {"retweeted": [{"created_at": "Sun Jul 12 11:5...
19               {"retweeted": ["Nothing_retweeted"]}
20               {"retweeted": ["Nothing_retweeted"]}
21  {"retweeted": [{"created_at": "Sun Jul 12 23:3...
22               {"retweeted": ["Nothing_retweeted"]}
23  {"retweeted": [{"created_at": "Wed Jul 08 20:0...
24  {"retweeted": [{"created_at": "Sun Jul 12 15:4...
25  {"retweeted": [{"created_at": "Sun Jul 12 12:2...
26  {"retweeted": [{"created_at": "Mon Jul 13 00:5...
27  {"retweeted": [{"created_at": "Sun Jul 12 14:1...
28  {"retweeted": [{"created_at": "Sun Jul 12 19:3...
29  {"retweeted": [{"created_at": "Sun Jul 12 12:0...
30  {"retweeted": [{"created_at": "Mon Jul 13 01:1...
31  {"retweeted": [{"created_at": "Sun Jul 12 17:2...
32  {"retweeted": [{"created_at": "Sun Jul 12 13:2...
33  {"retweeted": [{"created_at": "Mon Jul 13 01:2...
34  {"retweeted": [{"created_at": "Mon Jul 06 14:5...
35               {"retweeted": ["Nothing_retweeted"]}
36               {"retweeted": ["Nothing_retweeted"]}
37  {"retweeted": [{"created_at": "Mon Jul 13 00:0...
38  {"retweeted": [{"created_at": "Mon Jul 13 00:5...
39  {"retweeted": [{"created_at": "Mon Jul 13 00:0...
40  {"retweeted": [{"created_at": "Mon Jul 13 00:2...
41  {"retweeted": [{"created_at": "Sun Jul 12 23:3...
42               {"retweeted": ["Nothing_retweeted"]}
43  {"retweeted": [{"created_at": "Mon Jul 13 00:5...
44               {"retweeted": ["Nothing_retweeted"]}
45  {"retweeted": [{"created_at": "Sat Jul 11 01:4...
46  {"retweeted": [{"created_at": "Mon Jul 13 01:1...
47  {"retweeted": [{"created_at": "Tue Jul 07 20:2...
48  {"retweeted": [{"created_at": "Sun Jul 12 22:4...
49  {"retweeted": [{"created_at": "Sun Jul 12 23:3...

In [ ]:
pd